<h1>Branching page</h1>

<%= form_for @branch, url: branches_path(service.service_id), method: :post do |f| %>
  <%= f.hidden_field :flow_uuid, value: @branch.previous_flow_uuid %>
  <%= f.fields_for :conditionals do |conditional| %>
    <%= conditional.select :page, @branch.pages, include_blank: true %>
  <% end %>
  <%= f.submit t('actions.save'), class: 'editor-button govuk-button fb-govuk-button' %>
<% end %>
